/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=header section styles-=-=-=-=-=-=-=-=-=-=-==-= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  width: 1320px;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}
.heading {
  /* display: flex; */
  padding-top: 150px;
}
.heading * {
  margin-top: 16px;
}
.heading > h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  padding-left: 344px;
  padding-right: 344px;
}
.heading > h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-==-=-cetegories section styles=--=-=-=-=-=-=-=-=-=-== */

.cetegories {
  text-align: center;
  margin-top: 120px;
}
.cetegories > h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.cetegories > h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cetegories > h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

/* -=-=-=-=-=--=--=-=-=-=-=-=-=-midnight section styles-=-=-=-=-=-=-=-=-=-=-=-=-= */
#midnight {
  width: 1320px;
  height: 600px;
  margin: 120px auto;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  border-radius: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 126px 0 134px;
}
.container .texts > h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.04px;
  /* letter-spacing: 8px; */
}
.container .texts > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
  margin-bottom: 48px;
}
.container .texts > button {
  /* color: #fff; */
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.texts > button:hover {
  background-color: burlywood;
}
.container .background-img {
  width: 320px;
  height: 464px;
  padding-top: 68px;
}
.container .texts {
  /* width: 507px; */
}

/* -=-=-=-==-=-=--=-=-=-=-=-=-=-=location section style-=-=--=--=-=-=-=-=-= */

#Place {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  padding-top: 100px;
}
.location {
  text-align: center;
}
.location > h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.text-primary {
  color: #f00;
}
.location > button {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  border: none;
}

/* =-=-=-=-=-==-==-==-=-=-=-===-best offer/coming soon section style-=-==-=-=-=-=- */

#coming {
  width: 1320px;
  margin: 0 auto;
}

#coming .offer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 100px;
}
.offer-texts > h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-texts > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 7900;
  margin-top: 16px;
  margin-bottom: 22px;
}
.offer-texts,
.offer-texts-two > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.offer-img {
  width: 100%;
}
.offer-container .offer-img > img {
  border-radius: 100%;
  border: 15px solid #f00;
  padding: 50px;
}
.offer-texts-two > h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.offer-texts-two > img {
  margin-top: 30px;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-holiday section-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.holidays-container {
  position: relative;
  width: 1320px;
  margin: 120px;
}
.holiday-text-container > h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holiday-text-container > h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 16px;
}

.holiday-text-container > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 64px;
  margin-top: 28px;
}
.holiday-text-container {
  text-align: center;
}
.holiday-text {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.parent {
  position: relative;
}
.holiday-img-container {
  position: relative;
  display: flex;
  justify-content: end;
}
.women-offer {
  position: relative;
}
.background-red {
  position: relative;
  bottom: 5px;
}
.cuppon {
  position: absolute;
  left: -100px;
  bottom: 100px;
  width: 206px;
  height: 206px;
}
.box {
  width: 590px;
  position: absolute;
  bottom: 50px;
  left: 150px;
}

/* -=-=-=-=-=-=-=-=--=-=-=portfolio section styles-=-=-==-=-=-=-=-=-=-=-==-= */

#portfolio {
  width: 1320px;
  margin: 120px auto;
}

#portfolio .portfolio-div .portfolio-texts > h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-div .portfolio-texts > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}

.portfolio-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
}
.portfolio-div .portfolio-texts > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 22px;
  width: 869px;
}

/* -==-==-=-=-====-=-==-=-==-==-==--=-=-=-=-==subscrube style-=-==-==-=-==-=-=-=- */

#subscribe {
  width: 1320px;
  margin: 120px auto;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  padding: 50px 0 50px 0;
}

.subscribe-container {
  text-align: center;
}
.subscribe-container > h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.subscribe-container > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  /* width: 896px; */
  margin-top: 20px;
  margin-bottom: 50px;
}
.btn * {
  margin-bottom: 80px;
}
.email {
  padding: 24px 56px;
  border-radius: 50px 0 0 50px;
  border: none;
}
.subscribe-btn {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 24px 56px;
  position: relative;
  right: 5px;
  border: none;
  color: white;
  /* font-size: 20px; */
  font-family: inter;
}

/* =-=-===-===-==-===-===-=-=-=-==-=-footer part style-=-==-==-==-==-==-==-=-=-== */

footer {
  background: #070211;
  width: 100%;
  padding: 140px;
  color: #fff;
  font-family: Inter;
}
.contact-align-style {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fist-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 50px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.last-footer-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
